.form-modal__close-button{
  position: absolute;
  top: 20px;
  right: 28px;
  z-index: 1;
}

.form-modal__title{
  margin: 0 0 24px;
  font-size: 16px;
}

.form-modal__input-label{
  margin: 0 0 8px;
  font-size: 16px;
}

.form-modal__input{
  width: 100%;
  margin: 0 0 24px;
  padding: 0 0 4px;
  border: none;
  border-bottom: solid #000000 1px;
  font-size: 16px;
}

.form-modal__radio-buttons{
  display:flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 0;
  border: none;
}

/* .form-modal__radio-button-group{
  display: flex;
  margin: 0 0 8px;
  gap: 8px;
  cursor: pointer;
} */

.form-modal__radio-button-label{
  color: #00000080; /* 50% opacity; */
  font-size: 16px;
  cursor: pointer;
  margin: 0 0 0 8px;
}

.form-modal__radio-button:checked+.form-modal__radio-button-label{
  color: #000000ff; /*100% opacity*/
}

.form-modal__submit-button{
  margin: 24px 0 0;
  border: none;
  border-radius: 4px;
  width: 124px;
  height: 36px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000FF; /*Black with 100% opacity*/
  color: #fff;
  font-size: 16px;
}

.form-modal__submit-button:hover:not(.inactive){
  background: #0000009A;  /*Black with 60% opacity*/
  cursor: pointer;
}

.inactive{
  background: #0000004C; /*Black with 30% opactity*/
}