.weather-card{
  display: flex;
  align-items: center;
  padding-left: 16px;
  height: 80px; 
  border-radius: 12px;
  overflow:hidden;
  background-repeat: no-repeat;
  background-position-x:right;
}

/*Yeah, let's just hard code every combination of time and weather to get the exact style I need.
    TODO: fix this.
*/
.day_clear{
  background-image: url('../../images/WeatherCards/day_clear.svg');
  background-color: #00A3FF;
}

.day_cloudy{
  background-image: url('../../images/WeatherCards/day_cloudy.svg');
  background-color: #00A3FF;
}

.day_foggy{
  background-image: url('../../images/WeatherCards/day_foggy.svg');
  background-color: #6CA6C7;
}

.day_rainy{
  background-image: url('../../images/WeatherCards/day_rainy.svg');
  background-color: #6CA6C7;
}

.day_snowy{
  background-image: url('../../images/WeatherCards/day_snowy.svg');
  background-color: #6CA6C7;
}

.day_stormy{
  background-image: url('../../images/WeatherCards/day_stormy.svg');
  background-color: #6CA6C7;
}

.night_clear{
  background-image: url('../../images/WeatherCards/night_clear.svg');
  background-color: #286897;
}

.night_cloudy{
  background-image: url('../../images/WeatherCards/night_cloudy.svg');
  background-color: #286897;
}

.night_foggy{
  background-image: url('../../images/WeatherCards/night_foggy.svg');
  background-color: #286897;
}

.night_rainy{
  background-image: url('../../images/WeatherCards/night_rainy.svg');
  background-color: #286897;
}

.night_snowy{
  background-image: url('../../images/WeatherCards/night_snowy.svg');
  background-color: #286897;
}

.night_stormy{
  background-image: url('../../images/WeatherCards/night_stormy.svg');
  background-color: #286897;
}

.weather-card-temperature{
    margin: 0;
    font-size: 36px;
    color: #FFF;
}