.item-modal__content{
  /*cut off the top corners of the image to match the border-radius*/
  overflow: hidden; 
}

.item-modal__content_is-horizontal{
  display: flex;
  flex-direction: row;
  gap: 28px;
  max-width: 670px;
  width: 100vw;
  /* max-height: 368px; */
}

.item-modal__close-button{
  position: absolute;
  top: 20px;
  right: 24px;
  z-index: 1;
}

.close-button_is-horizontal{
  right: 20px;
}

.item-modal__horizontal-image-container{
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  padding: 0;
  margin: 0;
  max-width: 326px;
  max-height: 326px;
}

.item-modal__image{
  /*fit image to exact width of popup, disregarding padding*/
  width: calc(100% + 56px);
  margin: -28px 0 0 -28px;
  /*ensure image does not get too long*/
  max-height: 100%;
}

.image_is-horizontal{
  width: 100%;
  margin: 0;
}

.item-modal__container{
  display: flex;
  justify-content: space-between;
}

.item-modal__text{
  padding: 0;
  margin: 12px 0 0;
}

.item-modal__delete-button{
  margin: 12px 0 0;
  border: none;
  background-color: #FFFFFF00;
  color: #FF4D00;
  max-height: 24px;
}

.item-modal__delete-button:hover{
  cursor: pointer;
}

.text_image-overlay{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  padding: 2px 12px;
  border-radius: 4px;
  color: #00000099;
  background-color: #FFF;
}