.sidebar {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: start;
  margin: 6px 0 0;
  /* color: red; */
  /* background-color: blue; */
  max-width: 400px;
  min-width: 240px;
  width: 25%;
}

.sidebar__user-info {
  margin: 0 0 16px;
  display: flex;
  gap: 15px;
  max-height: 40px;
  overflow: visible;
}

.sidebar__user-name {
  text-align: left;
  margin: auto 0;
  /* display: inline-block; */
  /* max-width: 345px; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
}

.sidebar__button {
  padding: 0;
  margin: 8px 0 0;
  border: none;
  background-color: #fff0;
  color: #000;
  /* white-space: nowrap; */
  font-weight: 700;
}

.sidebar__button:hover {
  cursor: pointer;
}
